<div class="navbar">
  <span class="navbar-home">
    <%= link_to "Home", root_path %>
  </span>
  <span class="navbar-buttons">
    <%= link_to "About", about_path %>
  </span>
  <!--<span>
    This is supposed to be a navbar
  </span>-->
</div>